.photos img {
  max-width: 100%;
  height: auto;
}

.gallary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  transition: all 0.4s ease;
  border: none !important;
  /* box-shadow: 10px 10px 5px #aaaaaa; */

}

/* .card:hover {
  transform: translateY(-30px);
} */

.card-body {
  padding:20px !important;
}